.toolBar{
    height: 15%;
    background-color: rgb(12,131,177);
}
.menuIcon{
    color: white;
    position: absolute;
    left: 11%;
    top: 4%;
}
.toolBarTxt{
    color: white;
    position: absolute;
    left: 14%;
    top:0%;
}

.footer{
    position: absolute;
    bottom:0%;
    left: 0%;
    background-color: rgb(12,131,177);
}

.contentCard{
    position: absolute;
    left: 11%;
    top: 9%;
    background-color: rgb(245,245,245);
    width: 76%;
    height: 77%;

}
.projectCard{
    position: absolute;
    left: 1%;
    top: 1%;
    background-color: rgb(255,255,255);
    width: 95%;
    height: 8%;
}
.lanuageCard{
    position: absolute;
    left: 1%;
    top: 16%;
    background-color: rgb(255,255,255);
    width: 95%;
    height: 8%;
}
.springCard{
    position: absolute;
    left: 1%;
    top: 31%;
    background-color: rgb(255,255,255);
    width: 95%;
    height: 8%;
}
.metaDataCard{
    position: absolute;
    left: 1%;
    top: 46%;
    background-color: rgb(255,255,255);
    width: 95%;
    height: 32%;
}
.projectTxt{
    position: absolute;
    top: 0%;
    left: 2%;
    font-size: 13px;
    font-weight: bold;
}
.dependencyCard{
    position: absolute;
    left: 1%;
    top: 85%;
    background-color: rgb(255,255,255);
    width: 95%;
    height: 8%;
}
.dependencyBtn{
    position: absolute;
    right: 2%;
    top:0%;
    background-color: rgb(0,120,215);
    color: white;
    font-size: 10px;
}
.generateBtn{
    position: absolute;
    left: 32%;
    top: 20%;
    background-color: rgb(0,120,215);
    border-color: white;
    color: white;
    font-size: 14px;
}
.exploreBtn{
    position: absolute;
    left: 52%;
    top: 20%;
    background-color: rgb(0,120,215);
    border-color: white;
    color: white;
    font-size: 14px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.2em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}