<mat-toolbar class="toolBar">
  <mat-icon class="menuIcon">menu</mat-icon>
    <p class="toolBarTxt">Custom Code Generator</p>
 
  <mat-card class="contentCard">

    <form [formGroup]="codeGenForm">
    <mat-card class="projectCard">
      
      <p class="projectTxt">PROJECT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <ng-container  *ngFor="let project of projects; let i = index">
        <mat-checkbox formControlName="project"  color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="projectIndex === i" (change)="projectCheckboxChange($event, i)">{{project.name}}</mat-checkbox>
    </ng-container>

    </mat-card>
    <mat-card class="lanuageCard">
      <p class="projectTxt">LANGUAGE</p>
      <hr style="background-color: rgb(194, 189, 189);">

      <ng-container  *ngFor="let language of languages; let i = index">
        <mat-checkbox formControlName="language" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="languageIndex === i" (change)="languageCheckboxChange($event, i)">{{language.name}}</mat-checkbox>
    </ng-container>
     
    </mat-card>
    <mat-card class="springCard">
      <p class="projectTxt">SPRING BOOT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <ng-container  *ngFor="let springversion of springVersion; let i = index">
        <mat-checkbox  formControlName="bootVersion" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="springIndex === i" (change)="springVersionCheckboxChange($event, i)">{{springversion.name}}</mat-checkbox>
    </ng-container>
    
    </mat-card>
    <mat-card class="metaDataCard">
      <p class="projectTxt">PROJECT METADATA</p>
      <hr style="background-color: rgb(194, 189, 189);">

        <mat-form-field  style=" font-size: 16px;width: 25%;"  appearance="outline">
          <mat-label>Group</mat-label>
          <input matInput [(ngModel)]="group" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Artifact</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px; width: 25%;" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field style=" font-size: 16px;width: 25%;"appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Package Name</mat-label>
          <input matInput formControlName="packageName" value="{{group}}.{{name}}">
        </mat-form-field>
        <br>
        <span style="font-size: 12px;">Packaging</span>
        <ng-container   *ngFor="let pack of packaging; let i = index">
          <mat-checkbox formControlName="packaging" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="packIndex === i" (change)="packagingCheckboxChange($event, i)">{{pack.name}}</mat-checkbox>
      </ng-container>
                <span style="margin-left: 60px;font-size: 12px;">Java</span>
        <ng-container  *ngFor="let javaversion of javaVersion; let j = index">
          <mat-checkbox formControlName="java" color = "primary"style="margin-left: 30px; font-size: 12px;" [checked]="javaIndex === j" (change)="javaVersionCheckboxChange($event, j)">{{javaversion.name}}</mat-checkbox>
      </ng-container>
      
    </mat-card>
    <mat-card class="dependencyCard">
      <p class="projectTxt">DEPENDENCIES</p>
      <button mat-raised-button class="dependencyBtn"  (click) = 'openDependency()'>ADD DEPENDENCIES</button>
      <hr style="background-color: rgb(194, 189, 189); margin-top: 22px;">
    </mat-card>
  </form>
  </mat-card>
  


  <mat-toolbar class="footer">

   <button mat-button class="generateBtn" (click)="generateProject()">GENERATE</button>
   <button mat-button class="exploreBtn">EXPLORE</button>
    </mat-toolbar>