<mat-toolbar class="toolBar">
  <mat-icon class="menuIcon">menu</mat-icon>
    <p class="toolBarTxt">Custom Code Generator</p>
 
  <mat-card class="contentCard">

    <form [formGroup]="codeGenForm">
    <mat-card class="projectCard">
      
      <p class="projectTxt">PROJECT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox formControlName="project" value="maven-project" color = "primary" style=" font-size: 12px;"[checked]= "true">Maven Projcet</mat-checkbox>
      <mat-checkbox formControlName="project" value="gradle-project" color = "primary" style="margin-left: 50px; font-size: 12px;">Gradle Project</mat-checkbox>

    </mat-card>
    <mat-card class="lanuageCard">
      <p class="projectTxt">LANGUAGE</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox formControlName="language" value="java" color = "primary" style=" font-size: 12px;">Java</mat-checkbox>
      <mat-checkbox formControlName="language" value="kotlin" color = "primary"style="margin-left: 50px; font-size: 12px;" [checked]= "false">Kotlin</mat-checkbox>
      <mat-checkbox formControlName="language" value="groovy" color = "primary" style="margin-left: 50px; font-size: 12px;" [checked]= "false"  >Groovy</mat-checkbox>

    </mat-card>
    <mat-card class="springCard">
      <p class="projectTxt">SPRING BOOT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox formControlName="bootVersion" value="2.3.0.M4" color = "primary" style=" font-size: 12px;"[checked]= "true">2.3.0 M4</mat-checkbox>
      <mat-checkbox formControlName="bootVersion" value="2.3.0.BUILD-SNAPSHOT" color = "primary" style="margin-left: 50px; font-size: 12px;" >2.3.0 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox formControlName="bootVersion" value="2.2.7.BUILD-SNAPSHOT" color = "primary" style="margin-left: 50px; font-size: 12px;">2.2.7 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox formControlName="bootVersion" value="2.2.6.RELEASE" color = "primary" style="margin-left: 50px; font-size: 12px;">2.2.6</mat-checkbox>
      <mat-checkbox formControlName="bootVersion" value="2.1.14.BUILD-SNAPSHOT" color = "primary" style="margin-left: 50px; font-size: 12px;">2.1.14 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox formControlName="bootVersion" value="2.1.13.RELEASE" color = "primary"  style="margin-left: 50px; font-size: 12px;">2.1.13</mat-checkbox>
    </mat-card>
    <mat-card class="metaDataCard">
      <p class="projectTxt">PROJECT METADATA</p>
      <hr style="background-color: rgb(194, 189, 189);">

        <mat-form-field  style=" font-size: 16px;width: 25%;"  appearance="outline">
          <mat-label>Group</mat-label>
          <input matInput [(ngModel)]="group" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Artifact</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px; width: 25%;" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field style=" font-size: 16px;width: 25%;"appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Package Name</mat-label>
          <input matInput formControlName="packageName" value="{{group}}.{{name}}">
        </mat-form-field>
        <br>
        <span style="font-size: 12px;">Packaging</span>
        <mat-checkbox formControlName="packaging" value="jar" color = "primary" style="margin-left: 30px; font-size: 12px;"[checked]= "true" color = "primary">JAR</mat-checkbox>
        <mat-checkbox formControlName="packaging" value="war" color = "primary" style="margin-left: 50px; font-size: 12px;">WAR</mat-checkbox>
        <span style="margin-left: 60px;font-size: 12px;">Java</span>
        <mat-checkbox formControlName="java" value="14" color = "primary"  style=" margin-left: 30px; font-size: 12px;"[checked]= "true">14</mat-checkbox>
        <mat-checkbox formControlName="java" value="11" color = "primary" style="margin-left: 50px; font-size: 12px;">11</mat-checkbox>
        <mat-checkbox formControlName="java" value="1.8" color = "primary" style="margin-left: 50px; font-size: 12px;">8</mat-checkbox>
    </mat-card>
    <mat-card class="dependencyCard">
      <p class="projectTxt">DEPENDENCIES</p>
      <button mat-button class="dependencyBtn">ADD DEPENDENCIES</button>
      <hr style="background-color: rgb(194, 189, 189); margin-top: 22px;">
    </mat-card>
  </form>
  </mat-card>
  


  <mat-toolbar class="footer">
   <button mat-button class="generateBtn" (click)="generateProject()">GENERATE</button>
   <button mat-button class="exploreBtn">EXPLORE</button>
    </mat-toolbar>