<mat-toolbar class="toolBar">
  <mat-icon class="menuIcon">menu</mat-icon>
    <p class="toolBarTxt">Custom Code Generator</p>
 
  <mat-card class="contentCard">

    <form >
    <mat-card class="projectCard">
      
      <p class="projectTxt">PROJECT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox color = "primary" style=" font-size: 12px;"[checked]= "true">Maven Projcet</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">Gradle</mat-checkbox>

    </mat-card>
    <mat-card class="lanuageCard">
      <p class="projectTxt">LANGUAGE</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox color = "primary" style=" font-size: 12px;">Java</mat-checkbox>
      <mat-checkbox color = "primary"style="margin-left: 50px; font-size: 12px;">Kotlin</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">Groovy</mat-checkbox>

    </mat-card>
    <mat-card class="springCard">
      <p class="projectTxt">SPRING BOOT</p>
      <hr style="background-color: rgb(194, 189, 189);">
      <mat-checkbox color = "primary" style=" font-size: 12px;"[checked]= "true">2.3.0 M4</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;" >2.3.0 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">2.2.7 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">2.2.6</mat-checkbox>
      <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">2.1.14 (SNAPSHOT)</mat-checkbox>
      <mat-checkbox color = "primary"  style="margin-left: 50px; font-size: 12px;">2.1.13</mat-checkbox>
    </mat-card>
    <mat-card class="metaDataCard">
      <p class="projectTxt">PROJECT METADATA</p>
      <hr style="background-color: rgb(194, 189, 189);">

        <mat-form-field  style=" font-size: 16px;width: 25%;"  appearance="outline">
          <mat-label>Group</mat-label>
          <input matInput placeholder="Group" value="com.example">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Artifact</mat-label>
          <input matInput placeholder="Artifact" value="demo">
        </mat-form-field>
        <mat-form-field  style="margin-left: 50px; font-size: 16px; width: 25%;" appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" value="demo">
        </mat-form-field>
        <br>
        <mat-form-field style=" font-size: 16px;width: 25%;"appearance="outline" >
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" value="Demo project for Spring Boot" >
        </mat-form-field>
        
        <mat-form-field  style="margin-left: 50px; font-size: 16px;width: 25%;" appearance="outline">
          <mat-label>Package Name</mat-label>
          <input matInput placeholder="Package Name" value="Custom Code Generator">
        </mat-form-field>
        <br>
        <span style="font-size: 12px;">Packaging</span>
        <mat-checkbox color = "primary" style="margin-left: 30px; font-size: 12px;"[checked]= "true" color = "primary">JAR</mat-checkbox>
        <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">WAR</mat-checkbox>
        <span style="margin-left: 60px;font-size: 12px;">Java</span>
        <mat-checkbox color = "primary"  style=" margin-left: 30px; font-size: 12px;"[checked]= "true">14</mat-checkbox>
        <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">11</mat-checkbox>
        <mat-checkbox color = "primary" style="margin-left: 50px; font-size: 12px;">8</mat-checkbox>
    </mat-card>
    <mat-card class="dependencyCard">
      <p class="projectTxt">DEPENDENCIES</p>
      <button mat-button class="dependencyBtn">ADD DEPENDENCIES</button>
      <hr style="background-color: rgb(194, 189, 189); margin-top: 22px;">
    </mat-card>
  </form>
  </mat-card>
  


  <mat-toolbar class="footer">
   <button mat-button class="generateBtn">GENERATE</button>
   <button mat-button class="exploreBtn">EXPLORE</button>
    </mat-toolbar>